<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Index</title>
	
</head>
<body>
	<div th:fragment = "header" >
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	 	<a class="navbar-brand" href="/">SI KEMAHASISWAAN</a>
		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		 aria-controls="navbarSupportedContent" aria-expanded="false"
		 aria-label="Toggle navigation">
		 	<span class="navbar-toggler-icon"></span>
		 </button>
		 
		 <div class="collapse navbar-collapse" id="navbarSupportedContent">
			 <ul class="navbar-nav mr-auto">
				 <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI()=='/' ? 'active':''}">
				 	<a class="nav-link" th:href="@{/}">Home</a>
				 </li>
				<li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI()=='/mahasiswa/viewall' ? 'active':''}">
				 	<a class="nav-link" th:href="@{/mahasiswa/viewall}">Daftar Mahasiswa</a>
				</li>
				 <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI()=='/mahasiswa/add' ? 'active':''}">
				 	<a class="nav-link" th:href="@{/mahasiswa/add}">Menambah Mahasiswa</a>
				 </li>
			 </ul>
		 </div>
		 
	 </nav>
	 </div>
	 <div   th:fragment = "footer">
	  	<div id="footer">
     		<p>Mata Kuliah APAP</p>
		</div>
	</div>
</body>
</html>