<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Update mahasiswa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:replace = "fragments/fragment :: header" ></div>
	<div>
		<a th:href="'/mahasiswa/viewall'" >
			<button type="submit" class="btn btn-primary">Back</button>
		</a>
	</div>
	<h1 class="page-header">Update Editor</h1>
	<form action="/mahasiswa/update/submit" method="post" th:object="${mahasiswa}">
		<div>
			<label for="npm">NPM</label> <input type="text" name="npm" readonly="true" th:value="${mahasiswa.npm}" th:field="*{npm}" />
		</div>
		<div>
			<label for="nama">Nama</label> <input type="text" name="nama" th:value="${mahasiswa.nama}" th:field="*{nama}"/>
		</div>
		<div>
			<label for="agama">Agama</label> <input type="text" name="agama" th:value="${mahasiswa.agama}" th:field="*{agama}"/>
		</div>

		<div>
			<button type="submit" name="action" value="save">Update</button>
		</div>
	</form>

</body>

</html>

