<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All mahasiswa</title>
        <!-- first jQuery -->
		<script src="/jQuery-3.2.1/jquery-3.2.1.js"></script>
		<!-- then dataTables -->
		<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/DataTables-1.10.16/css/jquery.dataTables.css" />
		<script type="text/javascript" charset="utf8" src="/DataTables-1.10.16/js/jquery.dataTables.js"></script>		
    </head>
    
    <body>
    	<div th:replace = "fragments/fragment :: header" ></div>
        <h1 align="center">All Mahasiswa Table</h1>
        <table id="mahasiswaTable" class="display">
        
	       <thead class="thead-dark">
	            <tr>
	                <th>No</th>
					<th>NPM</th>
	                <th>nama</th>
	                <th>agama</th>
	               
	                <th></th>
	                <th></th>
	            </tr>
	        </thead>
	        
	        <tbody>
                <tr th:each="mahasiswa,iterationStatus: ${mahasiswas}">
                		<td th:text="' ' + ${iterationStatus.count}"></td>
					<td>
						<a th:href="'/mahasiswa/view/' + ${mahasiswa.npm}" >
							<div th:text="' ' + ${mahasiswa.npm}"></div>
						</a>
					</td>
					<td th:text="' ' + ${mahasiswa.nama}"></td>
					<td th:text="' ' + ${mahasiswa.agama}"></td>
					
					<td>
						<a th:href="'/mahasiswa/delete/' + ${mahasiswa.npm}"> 
							<button type="submit" class="btn btn-danger">Delete</button>
						</a>
					</td>
					<td>
						<a th:href="'/mahasiswa/update/' + ${mahasiswa.npm}"> 
							<button type="submit" class="btn btn-primary">Update</button>
						</a>
					</td>				
                </tr>             
            </tbody>
            
    		</table>
    	<script>
	    		$(document).ready( function () {
	    			$('#mahasiswaTable').DataTable({
			        "info":     false
			    	});
			} );	
	</script>
    </body>
   
</html>